  h1 {
	color: red
  }	  

  nav#main-navbar {
	background-color: red;
  }

  nav#main-navbar {
	  text-align: center;
  }
  
  nav#main-navbar {
	  overflow: hidden;
  }
  
  nav#main-navbar {
	  list-style-type: none;
	  margin: 0;
	  padding: 0;
	  display: in-line block;
	  vertical-align: top;
  }
  
  nav#main-navbar ul li {
	  float: center;
  }
  
  nav#main-navbar ul li a {
	  display: in-line block;
	  padding: 10px 20px;
	  color: #fff;
	  text-decoration: none;
  }
  nav#main-navbar float {
  }

  #border {
	  background-color: #888888;
	  padding: 20px;
	  border: 10px solid red;
	 
  }